.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1rem 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  background-color: var(--white);
  z-index: 1000;
}

.n-left {
  display: flex;
  justify-content: left;
  margin-right: 4rem;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5.8rem;
  color: var(--blue);
}

.navbar-ul {
  font-size: 1.1rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  margin: 2px;
}

.n-right {
  display: flex;
  justify-content: right;
  flex: 1;
  margin-right: 5.8rem;
}

.navbar ul {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
  color: var(--black);
}
.btn-login {
  border-radius: 6px;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  padding: 6px 0;
  transition: all 0.3s ease 0s;
  width: 111px;
  font-size: 14px;
  font-weight: bold;
  height: 41px;
}

.btn-register {
  margin-right: 1.3rem;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--blue);
  padding: 6px 0;
  transition: all 0.3s ease 0s;
  width: 111px;
  font-size: 14px;
  height: 41px;
  font-weight: bold;
  color: var(--blue);
}

@media (max-width: 715px) {
  .navbar ul {
    display: none;
  }
}

@media (max-width: 481px) {
  .navbar {
    display: none;
  }
}
