.hero {
  margin: 0 5.5rem 8rem;
  padding-top: 8rem;
  display: flex;
}

.name {
  margin-top: 9rem;
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-info {
  font-size: 18px;
  margin: 0.5rem 0 2rem;
  color: var(--black);
}

@keyframes slideFromUp {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.i-left {
  flex: 1.5;
  animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards
    running slideFromUp;
}

.i-right {
  flex: 1;
  animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards
    running slideFromUp;
}

.btn-primary {
  margin-right: 1.3rem;
  border-radius: 6px;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  padding: 6px 0;
  transition: all 0.3s ease 0s;
  width: 173px;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
}

.btn-details {
  border-radius: 6px;
  background-color: var(--white);
  border: 2px solid var(--bright-cyan);
  padding: 6px 0;
  transition: all 0.3s ease 0s;
  width: 173px;
  font-size: 16px;
  height: 48px;
  color: var(--bright-cyan);
}

@media (max-width: 481px) {
  .hero {
    display: block;
    margin: 8rem 1.4rem 1rem;
    padding: 0;
  }

  .i-name {
    text-align: center;
  }

  .i-info {
    font-size: 1rem;
    font-weight: normal;
  }
}
