.resultPage {
  width: 100%;
  height: 102rem;
}

.bg {
  width: 100%;
}

.resultSection {
  position: absolute;
  width: 1150px;
  height: 580px;
  left: 50%;
  transform: translate(-50%);
  top: 124px;
  background: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 2;
}

.intro-user-result {
  position: absolute;
  width: 615px;
  height: 53px;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}

.hi-user {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.type-result {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 22px;
  width: 670px;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.user-result {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 172px;
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.characteristic-desc {
  position: absolute;
  width: 400px;
  height: 31px;
  margin-left: 5rem;
  top: 235px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.characteristic-points {
  position: absolute;
  margin: 4rem;
  height: 227px;
  top: 220px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  list-style-type: disc;
}

.title-jobSection {
  justify-content: center;
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.jobSection {
  position: relative;
  height: 31px;
  top: 722px;
}

.jobs-box {
  position: absolute;
  width: 1150px;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  margin-top: 1rem;
  height: 582px;
}

.title-job-box {
  width: 328px;
  height: 255px;
  margin: 2rem;
}

.jobs-ic {
  width: 119px;
  height: 117px;
  margin: 2rem 6.5rem;
}

.title-jobs {
  padding: 0rem 1rem;
  top: 11rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.desc-job-box {
  width: 766px;
  height: 500px;
  left: 528px;
  top: 150px;
}

.description-points {
  font-weight: 550;
  line-height: 22px;
  font-size: 18px;
  text-align: justify;
  text-indent: 2px;
  color: #000000;
  list-style-type: disc;
  padding: 0rem 3rem;
}

/*untuk layar device berukuran kecil*/
@media (max-width: 481px) {
  .resultPage {
    width: 100%;
    height: 155rem;
  }

  .bg {
    width: 100%;
    height: 530px;
  }

  .resultSection {
    position: absolute;
    width: 340px;
    height: 1012px;
    left: 50%;
    transform: translate(-50%);
    top: 124px;
    background: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 2;
  }

  .intro-user-result {
    position: absolute;
    width: 615px;
    height: 53px;
    left: 50%;
    transform: translate(-50%);
    top: -225px;
  }

  .hi-user {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 270px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
  }

  .type-result {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 260px;
    width: 314px;
    margin-top: 4rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }

  .user-result {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 164px;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    width: 260px;
    color: #000000;
  }

  .characteristic-desc {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 225px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-left: 0rem !important;
  }

  .characteristic-points {
    position: absolute;
    margin: 1rem 1.5rem !important;
    height: 227px;
    top: 260px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
    list-style-type: disc;
  }

  .jobSection {
    position: relative;
    height: 31px;
    top: 1108px;
  }

  .title-jobSection {
    justify-content: center;
    color: var(--black);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
  }

  .jobs-box {
    position: absolute;
    width: 340px;
    left: 50%;
    transform: translate(-50%);
    background: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    margin-top: 1rem;
    height: 68rem;
  }

  .title-job-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .jobs-ic {
    width: 119px;
    height: 117px;
    margin: 1rem 4.5rem;
  }

  .title-jobs {
    width: 264px;
    padding: 0rem !important;
  }

  .desc-job-box {
    width: 766px;
    height: 500px;
    margin-top: 15rem;
    text-align: justify;
  }

  .description-points {
    font-weight: 550;
    line-height: 22px;
    font-size: 18px;
    text-align: justify;
    text-indent: 2px;
    color: #000000;
    list-style-type: disc;
    padding: 0rem 3rem;
  }
}
