.desc-section {
  padding-top: 10rem;
  background-color: var(--white);
  width: 100%;
  height: 700px;
}

.title {
  justify-content: center;
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.desc {
  display: flex;
}

.sec-logo {
  margin-top: 3rem;
  margin-left: 7rem;
}

.website-description {
  padding-right: 8rem;
  margin-left: 4rem;
  left: 80px;
  margin-top: 5rem;
  font-weight: 550;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 2px;
  color: #000000;
}

.desc-point {
  margin: 0em 2rem;
  font-weight: 550;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-indent: 2px;
  color: #000000;
  list-style-type: disc;
  padding-right: 2rem;
}
