.main-footer {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 2799px;
  background-color: rgba(230, 230, 250, 0.37);
}

.logo-footer {
  margin: 4rem 1rem;
  width: 300px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--blue);
}

.col {
  margin-top: 2rem;
}
.copyrights {
  text-align: center;
  margin: 1rem;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}
