.login {
  margin: 0 5.5rem 8rem;
  padding-top: 8rem;
  justify-content: center;
  display: flex;
  height: 740px;
}

.login-logo {
  position: relative;
  width: 570px;
  height: 440px;
  left: 3px;
  top: 60px;
}

.login-box {
  position: relative;
  margin-left: 5rem;
  width: 500px;
  height: 542px;
  background: #ffffff;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.loginreg-title {
  width: 377px;
  margin: auto;
  margin-top: 2.5rem;
  line-height: 39px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.loginreg-sub-title {
  justify-content: center;
  margin: 6px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.form-icon {
  margin: 18px;
}

.show-pwd {
  margin-right: 1rem;
}

.email-form {
  width: 395px;
  height: 60px;
  margin: 3rem 3rem 1rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #d9b9c2;
  border: 1px solid #36c8f6;
  border-radius: 10px;
}

.login-input {
  height: 55px;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #d9b9c2;
  border: 0px none;
  border-radius: 10px;
  outline: 0px !important;
  box-shadow: none !important;
}

.password-form {
  width: 395px;
  height: 60px;
  margin: 1rem 3rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #d9b9c2;
  border: 1px solid #36c8f6;
  border-radius: 10px;
}

.form-check {
  position: absolute;
  width: 110px;
  left: 72px;
  top: 305px;
}

.form-check-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.forgot {
  position: absolute;
  width: 120px;
  height: 17px;
  left: 310px;
  top: 305px;
  font-weight: 550;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.btn-masuk {
  box-sizing: border-box;
  position: absolute;
  width: 396px;
  height: 60px;
  position: relative;
  margin-left: 3rem;
  margin-top: 2rem;
  background: #36c8f6;
  border: 1px solid #36c8f6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

.socmed-login {
  justify-content: center;
  margin: 2rem;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.socmed {
  width: 150px;
  height: 66px;
  margin: 0rem 11rem;
}

.create-account {
  justify-content: center;
  margin: 2rem;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.login-footer {
  top: 885px !important;

  width: 100%;
  left: 0px;

  font-family: "DM Sans", sans-serif;
  background-color: rgba(230, 230, 250, 0.37);
}
