.intro-result {
  margin: 0 5.5rem 8rem;
  padding-top: 8rem;
  height: 775px;
}

.final-ic {
  position: absolute;
  width: 383px;
  height: 351px;
  left: 528px;
  top: 359px;
}

.button-final {
  position: absolute;
  width: 183.11px;
  height: 48px;
  left: 628.99px;
  top: 738px;
  background: #36c8f6;
  border: 1px solid #36c8f6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}
