.navbar {
  height: 25px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.1rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  z-index: 6;
}

.n-left {
  display: flex;
  justify-content: left;
  flex: 1;
  font-weight: bold;
  margin-left: 5.8rem;
  color: var(--black);
}

.n-right {
  display: flex;
  justify-content: right;
  flex: 1;
  margin-right: 5.8rem;
}

.navbar ul {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
  color: var(--black);
}

@media (max-width: 715px) {
  .navbar ul {
    display: none;
  }
}

@media (max-width: 481px) {
  .navbar {
    display: none;
  }
}
