* {
  color: rgb(255 255 255);
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bright-cyan: #36c8f6;
  --blue: #0000ff;
  --black: #000000;
  --white: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(40, 40, 124, 0.7);
  transition: all 0.2s ease 0s;
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #58585863;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid #36c8f6;
  padding: 2px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0000ff;
}
