.intro {
  margin: 0 5.5rem 8rem;
  padding-top: 8rem;
  height: 775px;
}

.intro-subtitle {
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.box-left {
  position: absolute;
  justify-content: center;
  width: 371px;
  height: 120px;
  left: 146px;
  top: 302px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.progress {
  position: absolute;
  width: 120px;
  height: 21px;
  left: 272px;
  top: 332px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #000000;
}
