.error-page {
  margin: 0 5.5rem 8rem;
  padding-top: 3rem;
  height: 480px;
}

.error-title {
  justify-content: center;
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  padding: 0rem 14rem;
}

.intro-error-subtitle {
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding: 0rem 14rem;
}

.error-ic {
  height: 351px;
  margin: 3rem 8rem;
}

.button-back {
  position: absolute;
  width: 183.11px;
  height: 48px;
  left: 628.99px;
  top: 530px;
  background: #36c8f6;
  border: 1px solid #36c8f6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}
